.hgn-header {
  text-align: center;
}

.hgn-story,
.hgn-header,
.hgn-sidebar {
  margin-bottom: 1rem;
}

.hgn-story-body {
  padding: 1rem;
}

.hgn-footer {
  display: flex;
  justify-content: space-around;
}

.hgn-footer ul {
  list-style: none;
  padding: 0;
}

@media only screen and (max-width: 900px) {
  .hgn-story:last-child {
    margin-bottom: 0rem;
  }

  .hgn-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 901px) {
  .hgn-container {
    display: flex;
    flex-wrap: wrap;
  }

  .hgn-header {
    width: 100%;
  }

  .hgn-content {
    flex: 2;
    margin: 0 1rem;
  }

  .hgn-sidebar {
    flex: 1;
    margin-right: 1rem;
  }

  .hgn-footer {
    width: 100%;
  }
}
