.hgn-story,
.hgn-header,
.hgn-sidebar,
.hgn-content {
  margin-bottom: 1rem;
}

.hgn-sidebar .hgn-story:last-child {
  margin-bottom: 0;
}

.hgn-story-body {
  padding: 1rem;
}

.hgn-sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.hgn-story {
  width: 100%;
}

.hgn-sidebar .hgn-story-half {
  width: calc(50% - 0.5rem);
}

.hgn-footer {
  display: flex;
  justify-content: space-around;
}

.hgn-footer ul {
  list-style: none;
  padding: 0;
}


@media only screen and (max-width: 900px) {
  .hgn-story .hgn-story:last-child {
    margin-bottom: 0rem;
  }

  .hgn-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 901px) {
  .hgn-container {
    display: flex;
    flex-wrap: wrap;
  }

  .hgn-story-half {
    width: calc(50% - 0.5rem);
  }

  .hgn-header {
    width: 100%;
  }

  .hgn-content {
    flex: 2;
    margin: 0 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .hgn-sidebar {
    flex: 1;
    margin-right: 1rem;
  }

  .hgn-footer {
    width: 100%;
  }
}
