.pf-container {
  display: flex;
}

.pf-content {
  padding: 3vh;
}

.pf-grid-item {
  margin-bottom: 1rem;
}


/* Small Screens */
@media only screen and (max-width: 900px) {
  .pf-container {
    flex-direction: column;
  }

  .pf-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .pf-grid-item:last-child {
    margin-bottom: 0;
  }
}

/* large Screens */
@media only screen and (min-width:901px) {
  .pf-sidebar {
    flex: 26vw;
  }

  .pf-content {
    flex: 74vw;
  }

  .pf-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .pf-grid-item {
    width: calc(50% - 0.5rem);
  }

  .pf-grid-item:nth-child(odd) {
    margin-right: 0.5rem;
  }

  .pf-grid-item:nth-child(even) {
    margin-left: 0.5rem;
  }
}
