@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,900);

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.pf-container h1 {
  font-size: 34px;
  font-weight: 900;
}

.pf-sidebar {
  background-color: MidnightBlue;
  color: White;
  padding: 5vw;
}

.pf-sidebar h1 {
  font-size: 34px;
  font-weight: 900;
}

.pf-grid-item {
  padding: 3vw;
}

.pf-grid-item a {
  font-size: 16px;
}

.pf-grid-item h1 {
  font-size: 28px;
  font-weight: 700;
}

.pf-grid-item:nth-child(odd){
  background-color: Orange;
}


.pf-grid-item:nth-child(even){
  background-color: OrangeRed;
}
